@import '../../variables';

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: center;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.content {
  padding-top: 10px;
  display: flex;
  height: 100%;
  width: 100vw;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-around;
}

.inputTitle {
  align-self: center;
  margin-top: 74px;
}

.inputContainer {
  margin-top: 23px;
  margin-bottom: 35px;
  align-self: center;
  background: $white;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border-radius: 40px;
  outline: none;
  height: 53px;
  width: 1088px;
  display: flex;
}

.inputField {
  align-self: center;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
  margin-left: 30px;
  margin-right: 30px;
  background: none;
  outline: none;
  border: none;
}
